# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env
.env
.env.local
.env*.local

# database
/data/*.db
/data/*.db-journal

# misc
.DS_Store
*.pem
npm-debug.log*
.vscode/*
!.vscode/extensions.json

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
/coverage
